.wrapper {
    padding: 20px 50px;
    box-sizing: border-box;
    height: 100%;
}

.section {
    margin: 20px 0px;
    height:auto;
    display: flex;
    flex-direction: column;
}

.ctaButton {
    background-color: #D7465B;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
}


.userProfile {
    width: 80px;
    height: 80px;
    background-color: lightgrey;
    border-radius: 100px;
    margin: 20px 0px;
    object-fit: cover;
    object-position: center;
}

.roomCollection {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    margin-top: 20px;
}

.roomCollection a, .newRoom a {
    color:#D7465B;
}