.container { margin: 0px}

.container h2::before {
    content: '-';
    height: 100%;
    width: 10px;
    background-color: #D7465B;
    color: #D7465B;
    margin-right: 5px;
    font-size: 22px;
}

.cardWrapper {
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.3);
    padding: 5px 15px;
    box-sizing: border-box;
}


.buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .cardWrapper { width: 100%; font-size: 14px;}
    .buttons { width: 55%;}
}