.wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}


.container { 
    width: 300px;
    height: auto;
    padding: 40px 50px;
    background-color: white;
    border-radius: 10px;
}

.container header { display: flex; justify-content: space-between; align-items: center;}


.userCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    padding: 10px 0px;
}

.userCardInfo {
    display: flex;
    min-width: 40%;
    justify-content: flex-start;
    align-items: center;
}

.userCard img { 
    width: 40px; 
    height: 40px; 
    border-radius: 100px;
    object-fit: cover;
    margin-right: 20px;
}

