.navbar {
    width: 100%;
    height: 60px;
    border-bottom: 4px solid #D7465B;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
}

.logo { height: 40px;}

.navbarLinks {
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbarLinks a {
    text-decoration: none;
    color: black;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLinks div { 
    display: flex;
    align-items: center;
}

.navbarLinks li { height: 34px; list-style: none; cursor: pointer; margin: 0px 5px; display: flex; align-items: center; }

.userPhoto {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.navbar img { cursor: pointer; margin: 0px 10px;}

.closeMenu svg { fill: #D7465B; height: 25px; width: 25px; }

.navbarMenu {
    position: relative;
    width: 100%;
    /*min-height: 75px;*/

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #D7465B;
    color: white;
    padding: 0px 20px;
    box-sizing: border-box;
}

.navbarMenu ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbarMenu li {  height: 100%; list-style: none; cursor: pointer; margin: 0px 5px; display: flex; align-items: center; }

.closeMenu { display: flex; align-items: center; justify-content: center; height: 35px; width: 35px; margin-left: 20px!important;}

.navbarMenu ul a {
    text-decoration: none;
    color: white;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}